.containerSVG
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerSVG h2
{
    margin-bottom: 1.25rem;
    text-align: center;
    font-size: clamp(1rem, 7vw, 2rem);
}
.SVG {
    width: 100%;
    max-width: 800px;
}

/* padrão: desktop visível */
.desktop-svg {
    display: block;
}

.mobile-svg {
    display: none;
}

/* mobile */
@media (max-width: 768px) {
    .desktop-svg {
        display: none;
    }

    .mobile-svg {
        display: block;
    }
}
