.footer
{
    background: #361669 !important;
    text-align: center;
}

.footer-link
{
    text-decoration: none;
    font-weight: 500;
    color: #F8F8F8;
    font-size: 1.05rem;
}
.footer-link:hover
{
    color: #9d9c9c;
}

.logoBranca
{
    max-width: 8rem;
    height: auto;
    margin: 0 auto;
}

