/* Nav.css */
.navigation {
    padding-top: 0;
    padding-bottom: 0;
    font-family: 'Poppins', sans-serif;
}




.btn_toggle {
    border: none;
    filter: invert(1);
}

.btn_toggle .navbar-toggler-icon {
    background-image: url('../../assets/Icon&logo/toggle.png');
    filter: invert(1) !important;
    width: 3.75rem;
    height: 3.75rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn_toggle:focus {
    box-shadow: none;
}

.btn_toggle:not(.collapsed) .navbar-toggler-icon {
    background-image: url("../../assets/Icon&logo/fechar.png");
    width: 3.75rem;
    height: 3.75rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
}





.nav_link {
    font-size: 1rem;
    color: #543782 !important;
    font-weight: 500;
}

.nav_link:hover {
    color: #c5c4f3 !important;
}

.btnDenuncia {
    background-color: #603fad;
    border: none;
    border-radius: 3rem;
    padding: 0.8rem 2rem;
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btnDenuncia:hover {
    background-color: #371668;
    transform: scale(1.01);
}





@media (max-width: 767px) {
    .nav_link {
        border-bottom: 1px solid #ebe8f6;
        width: 80%;
    }
    .btnDenuncia {
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 40%;
    }
}